{% set active_page = 'test' %}
{% extends "base.html" %}
{% set page_title = 'Test FB' %}

{% block title %}Test{% endblock %}
{% block subtitle %}Facebook{% endblock %}

{% block content %}
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '302779499881319',
      xfbml      : true,
      version    : 'v2.1'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>


{% endblock %}
