{% set active_page = 'muzik' %}
{% extends "base.html" %}
{% set page_title = album.title %}
{% set columns = 3 %}
{% set grid_size = 12 // columns %}
{% set title = 'Album {{ mot_cool() }}' %}
{% set square_size = 250 %}

{% block title %}Album {{ mot_cool() }}{% endblock %}
{% block subtitle %}{{album.title}}{% endblock %}

{% block content %}
  <div class="row">
    {% for track in album.tracks : %}

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 rotate-random">
      <a href="{{ track.url }}" class="thumbnail"
         width="{{square_size}}" height="{{square_size}}">
        <div class="caption-wrapper">
          <p class="caption">
            {{ track.title }}
          </p>
        </div>
        <img src="{{ track.img | cache_external_assets | resize('250x250', fill=1) }}"
             width="{{square_size}}" height="{{square_size}}"
             class="img-responsive" />
      </a>
    </div>

    {% endfor %}
  </div>
{% endblock %}
