<div class="social-links">
  <a href="https://soundcloud.com/camembert-au-lait-crew/"
     class="logo-social" target="_blank" title="Nos chansons sont sur SoundCloud">
    <img src="/static/img/logo-sc.png" />
  </a>
  <a href="https://www.facebook.com/camembertaulaitcrew"
     class="logo-social" target="_blank" title="Like nous sur Facebook !">
    <img src="/static/img/logo-ff.png" />
  </a>
  <a href="https://twitter.com/camembertaulait"
     class="logo-social" target="_blank" title="On tweet sur... Twitter">
    <img src="/static/img/logo-tw.png" />
  </a>
  <a href="https://www.youtube.com/user/camembertaulaitcrew"
     class="logo-social" target="_blank" title="Nos vid&eacute;os sont sur Youtube">
    <img src="/static/img/logo-yt.png" />
  </a>
  <a href="https://open.spotify.com/artist/36CEVQIzO8Ez8eKgTRxW4T"
     class="logo-social" target="_blank" title="Nos musiques sur Spotify">
    <img src="/static/img/logo-sp.png" />
  </a>
  <a href="https://itunes.apple.com/fr/artist/camembert-au-lait-crew/1142187863"
     class="logo-social" target="_blank" title="Nos musiques sur iTunes">
    <img src="/static/img/logo-it.png" />
  </a>
  <a href="https://github.com/ultreme"
     class="logo-social" target="_blank" title="Notre code est sur Github">
    <img src="/static/img/logo-gh.png" />
  </a>
  <!--
  <a href="http://camembertaulaitcrew.tumblr.com/"
     class="logo-social" target="_blank" title="Nos neurones sont sur Tumblr">
    <img src="/static/img/logo-tm.png" />
  </a>
  -->
  {# TODO: grooveshark #}
  {# TODO: myspace? #}
  {# TODO: spreadshirt: http://camembertaulaitcrew.spreadshirt.fr #}
  {# TODO: #}
  {# TODO: #}
</div>
