{{define "title"}}Hack cassé{{end}}
{{define "h1"}}Hack {{mot_cool}}, mais cassé{{end}}
{{define "h1small"}}travaux {{mot_cool_pluriel}} en cours{{end}}

{{define "content"}}
  Je reviendrai.
{{end}}
