{{define "title"}}3615 CRYPTAGE{{end}}
{{define "h1"}}3615 CRYPTAGE{{end}}
{{define "h1small"}}(James Bond, etc.){{end}}

{{define "content"}}
           <iframe src="/hackz/3615cryptage/index.html?" frameborder="0" width="100%" class="iframe-auto-height"></iframe>
{{end}}
