{{define "title"}}Hackz{{end}}
{{define "h1"}}Des hackz{{end}}
{{define "h1small"}}à l'unité{{end}}

{{define "content"}}
{{ $columns := 3 }}
{{ $grid_size := div 12 $columns }}
{{ $square_size := 250 }}


  <div class="row">
    {{ range $entry := .hackz.Entries }}

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 rotate-random">
      <a href="{{ $entry.URL}}" class="thumbnail"
         width="{{$square_size}}" height="{{$square_size}}"
         {{ if $entry.IsExternal }} target="_blank"{{ end }}>
        <div class="caption-wrapper">
          <p class="caption">
            {{ $entry.Title }}
          </p>
        </div>
        <img src="{{ $entry.ImageURL | resize "fill=250x250" }}"
             class="img-responsive"
             width="{{$square_size}}" height="{{$square_size}}" />
      </a>
    </div>

    {{ end }}
  </div>

  <!--<p class="well">Et plein d'autres..</p>-->
{{end}}


{{define "secondary_column"}}
  <h3>Hackzers les plus {{ mot_cool_pluriel }} <small>(pour l'instant !)</small></h3>
  Les scores sont cassés et reviendront bientôt
{{end}}

{{/*
{% block secondary_column %}
  <ul>
    {% for scor in hackzers %}
    <li>#{{ loop.index }} {{ scor.login }} avec {{ scor.score }} {{ mot_debile_qui_se_mange() }}</li>
    {% endfor %}
  </ul>
  <a href="{{ url_for('scorz_top') }}">
    <button type="submit" class="btn btn-lg btn-success">
      Le top du top
    </button>
  </a>
{% endblock %}
*/}}
