{{define "title"}}Hackz{{end}}

{{/*
{% block title %}Des hackz{% endblock %}
{% block subtitle %}&agrave; l'unit&eacute;{% endblock %}
*/}}

{{define "content"}}
{{ $columns := 3 }}
{{ $grid_size := div 12 $columns }}
{{ $square_size := 250 }}


  <div class="row">
    {{ range $entry := .hackz.Entries }}

    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 rotate-random">
      <a href="{{ $entry.URL}}" class="thumbnail"
         width="{{$square_size}}" height="{{$square_size}}"
         {{ if $entry.IsExternal }} target="_blank"{{ end }}>
        <div class="caption-wrapper">
          <p class="caption">
            {{ $entry.Title }}
          </p>
        </div>
        <img src="{{ $entry.ImageURL | cache_external_assets | resize "250x250" "fill=1" }}"
             class="img-responsive"
             width="{{$square_size}}" height="{{$square_size}}" />
      </a>
    </div>

    {{ end }}

  </div>
  <p class="well">Et plein d'autres..</p>
{{end}}


{{/*
{% block main_column %}
  <div class="row">
    {% for hack in hackz : %}

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 rotate-random">
      <a href="{{ hack.url }}" class="thumbnail"
         width="{{square_size}}" height="{{square_size}}">
        <div class="caption-wrapper">
          <p class="caption">
            {{ hack.title }}
          </p>
        </div>
        <img width="{{square_size}}" height="{{square_size}}" class="img-responsive"
             src="{{ hack.img | cache_external_assets | resize('250x250', fill=1) }}"
             />
      </a>
    </div>

    {% endfor %}
  </div>
{% endblock %}

{% block secondary_column %}
  <h2>Hackzers les plus {{ mot_cool() }} <small>(pour l'instant !)</small></h2>
  <ul>
    {% for scor in hackzers %}
    <li>#{{ loop.index }} {{ scor.login }} avec {{ scor.score }} {{ mot_debile_qui_se_mange() }}</li>
    {% endfor %}
  </ul>
  <a href="{{ url_for('scorz_top') }}">
    <button type="submit" class="btn btn-lg btn-success">
      Le top du top
    </button>
  </a>
{% endblock %}
*/}}
