{{define "title"}}{{.track.Title}}{{end}}
{{define "h1"}}Du son {{ mot_cool }}{{end}}
{{define "h1small"}}{{.track.Title}}{{end}}


{{define "content"}}
  <!--<pre>{{.track|toPrettyJson}}</pre>-->

  <iframe
    width="100%"
    height="600"
    scrolling="no"
    frameborder="no"
    src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ .track.ID }}&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true">
  </iframe>

  {{ if .track.Description }}
    <pre class="track_description">{{ .track.Description | linkify }}</pre>
  {{end}}
{{end}}


{{define "secondary_column"}}
    <a href="{{ .track.PermalinkUrl }}" target="_blank">
      <img src="{{ .track.ImageURL | cache_external_asset }}" alt="{{ .track.Title }}"
           class="img-responsive img-rounded rotate-random" />
    </a>

    <div class="track_date">
      {{ .track.CreatedAt }}
    </div>

    <!-- FIXME: handle tags etc in html headers for SEO -->

    <div class="track_tags">
      {{ range $tag := .track.Tags }}
        <span class="label label-primary">#{{ $tag }}</span>
      {{ end }}
    </div>
{{end}}
