{{ define "base" }}
<!DOCTYPE html>
<html
   lang="fr"
   class="{{yomyman_style}}{{if devel}} devel{{end}}"
   xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml"
  >
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ block "fulltitle" . }}{{block "title" .}}{{end}} - Camembert au lait crew{{end}}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Le Camembert au lait crew a un site des internets, du fun, de la musique et des hacks en perspective, c'est pas mal la fete hein, wesh">
    <meta name="author" content="Camembert au lait crew">

    <!-- favicon -->
    <link rel="image_src" content="{{ sharing_image_url }}" />
    <link rel="shortcut icon" href="/favicon.ico" sizes="32x32">
    <link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" href="apple-touch-icon-60x60.png">

    <!-- REFRESH at least once per hour -->
    <meta http-equiv="refresh" content="3600;URL={{ current_url }}" />

    <!-- FACEBOOK -->
    <meta property="og:title" content="Camembert au lait crew{{ if page_title }} - {{page_title}}{{end}}" />
    <meta property="og:description" content="{{ sharing_description }}" />
    <!--<meta property="og:url" content="http://camembertaulaitcrew.biz/" />-->
    <meta property="og:type" content="website" />
    <meta property="fb:app_id" content="302779499881319" />
    <meta property="fb:admins" content="718665950,100001871727802" />
    <meta property="og:image" content="{{ sharing_image_url }}" />
    <meta property="og:image:secure_url" content="{{ sharing_image_url }}" />

    <!-- GEOLOC -->
    <meta name="ICBM" content="49.4435, 1.1"/>
    <meta name="geo.position" content="49.4435; 1.1"/>
    <meta name="geo.placename" content="Rouen, Seine-Maritime"/>
    <meta name="geo.region" content="FR-Haute-Normandie"/>

    <!-- TWITTER -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@camembertaulait" />
    <meta name="twitter:creator" content="@camembertaulait" />
    <meta name="twitter:title" content="{{ page_title}} - camembertaulaitcrew.biz" />
    <meta name="twitter:description" content="{{ sharing_description }}" />
    <meta name="twitter:image" content="{{ sharing_image_url }}" />
    <meta name="twitter:url" content="{{ current_url }}" />

    <!-- FIXME: bundle .css files + minify -->
    <link href="components/bootstrap/dist/css/bootstrap.min.css?{{invalid_cache}}" rel="stylesheet" data-no-instant />
    <link href="/css/calc.css?{{invalid_cache}}" rel="stylesheet" data-no-instant />

    <!-- FIXME: bundle .js files + minify -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="components/html5shiv/dist/html5shiv.min.js" data-no-instant></script>
    <script type="text/javascript" src="components/respond/dest/respond.min.js" data-no-instant></script>
    <![endif]-->

    {{ block "extra_css" . }}{{ end }}
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse"
                  data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            Camembert au lait crew
          </a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="{{ if eq active_page "home" }}active {{ end }}">
              <a href="/" class="disco">Maizon</a>
            </li>
            <li class="{{ if eq active_page "muzik" }}active {{end}}">
              <a href="/muzik" class="disco">Muzik</a>
            </li>
            <li class="{{ if eq active_page "hackz" }}active {{end}}">
              <a href="/hackz" class="disco">Hackz</a>
            </li>
            <!--<li class="{{ if eq active_page "vidz" }}active {{end}}">
              <a href="/vidz" class="disco">Vidz</a>
            </li>-->
            <li class="{{ if eq active_page "copaings" }}active {{end}}">
              <a href="/copaings" class="disco">Copaings</a>
            </li>
            <!--<li class="{{ if eq active_page "tofz" }}active {{end}}">
              <a href="/tofz" class="disco">Tofz</a>
            </li>-->
            <!--<li class="{{ if eq active_page "concertz" }}active {{end}}">
              <a href="/concertz" class="disco">Concertz</a>
            </li>-->
          </ul>
        </div>
      </div>
    </div>

    <div class="container calc-content">
      <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-md-push-3 col-lg-push-3">
          <div class="row">
            THE CONTENT
            {{/*
            {{ block "content" . }}
                                             {{ if layout == 'two_columns' }}
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
              <h1>{{ self.title() }} <small>{{ self.subtitle() }}</small></h1>
              {{ block main_column }}{{ endblock }}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
              <hr class="hidden-md hidden-lg" />
              {{ block secondary_column }}{{ endblock }}
            </div>
            {{ else }} {# one column #}
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <h1>{{ self.title() }} <small>{{ self.subtitle() }}</small></h1>
              {{template "content" .}}
            </div>
            {{end}}
*/}}

                                </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-md-pull-9 col-lg-pull-9">
          <div class="row">
            <hr class="hidden-md hidden-lg" />
            <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
<a href="/">
  <img src="{{ "/img/logo-300.png" | resize "300x300" "fill=1"}}"
       class="bicool img-responsive img-rounded"
       data-alternate="{{ logo_alternate | resize "300x300" "fill=1" }}"
       title="Camembert au lait crew" width="300" height="300" />
</a>
<!--<hr class="hidden-sm hidden-xs" /> -->
            </div>
            <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
<div class="le-mot-du-jour">
  <h4>Le mot du jour est
    <small class="blink">{{ mot_du_jour }}</small>
  </h4>
</div>
<!-- <hr class="hidden-sm hidden-xs" /> -->
            </div>
            <div class="col-x-6 col-sm-6 col-md-12 col-lg-12">
<div class="social-links">
  <a href="https://soundcloud.com/camembert-au-lait-crew/"
     class="logo-social" target="_blank" title="Nos chansons sont sur SoundCloud">
    <img src="/img/logo-sc.png" />
  </a>
  <a href="https://www.facebook.com/camembertaulaitcrew"
     class="logo-social" target="_blank" title="Like nous sur Facebook !">
    <img src="/img/logo-ff.png" />
  </a>
  <a href="https://twitter.com/camembertaulait"
     class="logo-social" target="_blank" title="On tweet sur... Twitter">
    <img src="/img/logo-tw.png" />
  </a>
  <a href="https://www.youtube.com/user/camembertaulaitcrew"
     class="logo-social" target="_blank" title="Nos vid&eacute;os sont sur Youtube">
    <img src="/img/logo-yt.png" />
  </a>
  <a href="https://open.spotify.com/artist/36CEVQIzO8Ez8eKgTRxW4T"
     class="logo-social" target="_blank" title="Nos musiques sur Spotify">
    <img src="/img/logo-sp.png" />
  </a>
  <a href="https://itunes.apple.com/fr/artist/camembert-au-lait-crew/1142187863"
     class="logo-social" target="_blank" title="Nos musiques sur iTunes">
    <img src="/img/logo-it.png" />
  </a>
  <a href="https://github.com/ultreme"
     class="logo-social" target="_blank" title="Notre code est sur Github">
    <img src="/img/logo-gh.png" />
  </a>
  <!--
  <a href="http://camembertaulaitcrew.tumblr.com/"
     class="logo-social" target="_blank" title="Nos neurones sont sur Tumblr">
    <img src="/img/logo-tm.png" />
  </a>
  {# TODO: grooveshark #}
  {# TODO: myspace? #}
  {# TODO: spreadshirt: http://camembertaulaitcrew.spreadshirt.fr #}
  {# TODO: #}
  {# TODO: #}
  -->
</div>

            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="footer">
      <div class="container">
        <p class="text-muted">
          <span>
            Page g&eacute;n&eacute;r&eacute;e avec {{ megahertz }}
            m&eacute;gahertz et beaucoup de {{ mot_debile_qui_se_mange }}.
          </span>
          <span>
            Salut <a href="#" id="username_button" class="username_data">mec</a> !
          </span>
        </p>
      </div>
    </div>
    {{ if neige }}<canvas id="neige"></canvas>{{end}}
    <script type="text/javascript" src="components/jquery/dist/jquery.min.js" data-no-instant></script>
    <script type="text/javascript" src="components/bootstrap/dist/js/bootstrap.min.js" data-no-instant></script>
    <script type="text/javascript" src="components/jquery-cookie/jquery.cookie.js" data-no-instant></script>
    <script type="text/javascript" src="components/konami-js/konami.js" data-no-instant></script>
    <script type="text/javascript" src="components/instantclick/instantclick.js" data-no-instant></script>
    <script type="text/javascript" src="js/calc.js" data-no-instant></script>

    {{ if neige }}<script type="text/javascript" src="js/snow4.js" data-no-instant></script>{{end}}

    {{ block "extra_js" . }}{{ end }}
  </body>
</html>
{{ end }}
